{% comment %} Load script if discussion comments are enabled and `page.comments` is either empty (index) or set to true {% endcomment %}
{% if site.discussion and page.comments != false %}
<link href="/stylesheets/discussion/discussion.css" media="screen, projection" rel="stylesheet" type="text/css">
<script src="/javascripts/discussion/underscore.js"></script>
<script src="/javascripts/discussion/backbone.js"></script>
<script src="https://cdn.firebase.com/v0/firebase.js"></script>
<script type='text/javascript' src='https://cdn.firebase.com/v0/firebase-auth-client.js'></script>
<script src="/javascripts/discussion/backbone-firebase.js"></script>
<script src="/javascripts/discussion/discussion.js"></script>
<script type="text/javascript">
    $(function(){
      $("#discussion-topic").discussion("https://discussion.firebaseio.com/sites/scriptyblog" + "{{page.id}}");
    });
</script>
{% endif %}
